nav {
  background-color: cadetblue;
  margin: 0px;
  padding: 0px;
    display: flex;
  justify-content: center;
}

nav ul {
display: flex;
  margin-top: 5px;
  font-size: small;
  gap: 15px;
  margin: 0px;
  padding: 0px;
background-color: rgba(255, 255, 255, 0.445);

}

nav li {
  /* background-color: white; */
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  font-size: medium;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 1rem; */
  height: 40vh;
  background-color: cadetblue;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.hero p {
  font-size: 1.2rem;
  margin-top: 0.7rem;
  font-weight: bold;
}

.herolinks {
  margin-top: 2rem;
  gap: 1.5rem;
  display: flex;
}

.herolinks p {
  font-size: 0.9rem;
}

.herolinks a:hover {
  font-size: smaller;
  font-style: italic;
  color: rgb(255, 153, 0);
}

.btn1 {
  border: 3px solid black;
  text-decoration: none;
  color: white;
  padding: 0.7rem;
  background-color: rgba(0, 0, 255, 0.658);
  border-radius: 1rem;
}

.btn2 {
  border: 3px solid black;
  text-decoration: none;
  color: white;
  padding: 0.7rem;
  background-color: rgb(7, 168, 1);
  border-radius: 1rem;
}

.btn3 {
  border: 3px solid black;
  text-decoration: none;
  color: white;
  padding: 0.7rem;
  background-color: rgb(204, 2, 29);
  border-radius: 1rem;
}
